:host {
  display: block;
  padding: 10px;

  @media (max-width: 500px) {
    padding: 0
  }
}

highcharts-chart {
  width: 100%;
  height: 80vh;
  max-height: 80vw;
  display: block;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 24px;
  row-gap: 10px;
  padding: 24px;

  h1 {
    margin: 0;
  }

  .icon-link {
    display: flex;
    gap: 8px;
    text-decoration: none;
    padding-top: 2px;

    img {
      height: 20px;
    }
  }

  @media (max-width: 500px) {
    //justify-content: center;

    select, span {
      display: none;
    }

    h1 {
      margin-top: 5px;
      margin-bottom: 10px;
      text-align: center;
      width: 100%;
    }
  }
}

main {
  display: flex;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.multi-EQ-type {
  background: white; border: none; appearance: none;
  font-size: 15px;
}

mat-card {
  //padding: 20px;
  margin: 10px;

  mat-card-header {
    margin-top: -4px;
    margin-bottom: 15px;
    font-weight: bold;
  }
}

.info-panels {
  --mat-expansion-header-text-size: 16px;
  width: 260px;
  margin: 10px;

  @media (max-width: 600px) {
    width: 95%;
  }
}



.curve-points-container {
    max-height: 432px;
    overflow-y: auto;
}

.curve-points-text-field {
    font-size: large;
    border: none;
}

.expansion-panel-first-line {
  margin-top: -4px;
  margin-bottom: 20px;
}

.chart-card {
  flex-grow: 1;

  .mat-mdc-card-header {
    justify-content: center;
    margin-bottom: 2px;
  }

  ::ng-deep .mdc-text-field--outlined {
    //--mdc-outlined-text-field-outline-width: 0;
    --mdc-outlined-text-field-focus-outline-width: 1px;
    --mdc-outlined-text-field-outline-color: white;
    //--mdc-outlined-text-field-focus-outline-width: 1px;
    --mat-select-trigger-text-weight: 700;
    --mat-select-enabled-trigger-text-color: transparent;
    --mat-select-trigger-text-size: 20px;

    .mat-mdc-form-field-infix {
      width: 190px;
    }
    //background-color: white;
    text-align: center;
  }

  @media (max-width: 600px) {
    .mat-mdc-card-content {
      padding-left: 0;
    }
  }
}
