<mat-card>
    <mat-card-content class="header">
        <h1>Audyssey Editor</h1>

        <label for="input-file-id" class="flat-btn" matRipple>
            <svg style="margin-right: 5px" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 96 960 960" width="20"><path d="M444 816h72V666l57 57 51-51-144-144-144 144 51 51 57-57v150ZM263.717 960Q234 960 213 938.85T192 888V264q0-29.7 21.15-50.85Q234.3 192 264 192h312l192 192v504q0 29.7-21.162 50.85Q725.676 960 695.96 960H263.717ZM528 432V264H264v624h432V432H528ZM264 264v189-189 624-624Z"/></svg>
            Import ADY File
        </label>
        <input #fileInput id="input-file-id" hidden type="file" onclick="this.value=null" (change)="onUpload(fileInput.files)" accept=".ady"/>

        <ng-container *ngIf="!audysseyData.targetModelName">
           or <label class="flat-btn" matRipple (click)="loadExample()">Load Example</label>
        </ng-container>

        <ng-container *ngIf="fileInput.files?.length">
          <span>{{ fileInput.files?.item(0)?.name }}</span>
        </ng-container>

        <span style="flex-grow: 1"></span>

        <a href="https://t.me/vonder" style="display: flex; gap: 6px; text-decoration: none; padding-top: 2px">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 240.1 240.1" height="20" width="20" >
            <linearGradient id="a" x1="-838" x2="-838" y1="660.6" y2="660.3" gradientTransform="matrix(1000 0 0 -1000 838161 660581)" gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="#424d58"/>
              <stop offset="1" stop-color="#272a2f"/>
            </linearGradient>
            <circle cx="120.1" cy="120.1" r="120.1" fill="url(#a)" fill-rule="evenodd" clip-rule="evenodd"/>
            <path fill="#FFF" fill-rule="evenodd" d="M54.3 118.8c35-15.2 58.3-25.3 70-30.2 33.3-13.9 40.3-16.3 44.8-16.4 1 0 3.2.2 4.7 1.4 1.2 1 1.5 2.3 1.7 3.3s.4 3.1.2 4.7c-1.8 19-9.6 65.1-13.6 86.3-1.7 9-5 12-8.2 12.3-7 .6-12.3-4.6-19-9-10.6-6.9-16.5-11.2-26.8-18-11.9-7.8-4.2-12.1 2.6-19.1 1.8-1.8 32.5-29.8 33.1-32.3.1-.3.1-1.5-.6-2.1-.7-.6-1.7-.4-2.5-.2-1.1.2-17.9 11.4-50.6 33.5a22.5 22.5 0 0 1-13 4.8 86.6 86.6 0 0 1-18.7-4.4c-7.5-2.4-13.5-3.7-13-7.9.3-2.2 3.3-4.4 8.9-6.7z" clip-rule="evenodd"/>
          </svg>
          Get help
        </a>

  <!--      <a href="https://www.paypal.com/donate/?hosted_button_id=EBY6KWECQY2D8">-->
  <!--        <img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" alt="Donate">-->
  <!--      </a>-->

        <div id="donate-button-container">
          <div id="donate-button" style="display: flex"></div>
        </div>

        <label class="flat-btn" matRipple (click)="exportFile()">
            <svg style="margin-top: 2px; margin-right: 5px" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 96 960 960"><path d="M263.717 864Q234 864 213 842.85T192 792v-72h72v72h432v-72h72v72q0 29.7-21.162 50.85Q725.676 864 695.96 864H263.717ZM480 720 288 528l51-51 105 105V240h72v342l105-105 51 51-192 192Z"/></svg>
            Export
        </label>
    </mat-card-content>
</mat-card>

<main>
    <mat-accordion class="info-panels">
        <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Basic info
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="expansion-panel-first-line">
              System: {{audysseyData.enMultEQType | decodeEqType}}
            </div>

          <ng-container *ngIf="fileInput.files?.length">
            <div class="expansion-panel-first-line">Device: {{audysseyData.targetModelName}}</div>
          </ng-container>

            <mat-form-field appearance="outline">
                <mat-label>Profile name</mat-label>
                <input matInput [(ngModel)]="audysseyData.title">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Target curve type</mat-label>
                <mat-select [(ngModel)]="audysseyData.enTargetCurveType" (selectionChange)="updateTargetCurve()">
                    <mat-option [value]="1">HF Rolloff 1</mat-option>
                    <mat-option [value]="2">HF Rolloff 2</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>System Delay</mat-label>
                <input matInput [(ngModel)]="audysseyData.systemDelay" readonly>
            </mat-form-field>

            <mat-checkbox [(ngModel)]="audysseyData.dynamicEq" style="padding-right: 16px">Dynamic EQ</mat-checkbox>
            <mat-checkbox [(ngModel)]="audysseyData.dynamicVolume">Dynamic Volume</mat-checkbox>

        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Channel selection
                </mat-panel-title>
            </mat-expansion-panel-header>

<!--            <label>Pick one of {{ audysseyData.detectedChannels.length }} channels:</label>-->
            <mat-radio-group [(ngModel)]="selectedChannel" class="channel-radio-group" (change)="updateChart()">
                <mat-radio-button class="channel-radio-button" *ngFor="let channel of audysseyData.detectedChannels" [value]="channel">
                    {{ channel.commandId | decodeChannelName }}
                </mat-radio-button>
            </mat-radio-group>

            <mat-checkbox *ngIf="selectedChannel?.commandId !== 'SW1'" #addSub (change)="addSubwooferToTheGraph(addSub.checked)">Add subwoofer</mat-checkbox>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title style="white-space: nowrap">
                    Channel info
                </mat-panel-title>
              <mat-panel-description>
                <span *ngIf="selectedChannel" style="margin-left: 10px">({{selectedChannel.commandId}})</span>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <ng-container *ngIf="selectedChannel">
                <div class="expansion-panel-first-line">
                  Name: {{ selectedChannel.commandId | decodeChannelName }}
                </div>

                <mat-form-field appearance="outline">
                    <mat-label>Distance</mat-label>
                    <input matInput [value]="selectedChannel.channelReport.distance | number: '1.2-3'" readonly>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Custom Distance</mat-label>
                    <input matInput [(ngModel)]="selectedChannel.customDistance" type="number" step="0.01" min="0.1" max="20">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Custom Level</mat-label>
                    <input matInput [(ngModel)]="selectedChannel.customLevel" type="number" step="0.5" min="-12" max="12">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Trim Adjustment (dB)</mat-label>
                    <input matInput [(ngModel)]="selectedChannel.trimAdjustment" (input)="updateChart()" pattern="[0-9]*[.]?[0-9]+">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>High Frequency Rolloff (Hz)</mat-label>
                    <input matInput [(ngModel)]="selectedChannel.frequencyRangeRolloff" (input)="updateChart()" type="number" min="50" max="20000">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Custom Crossover</mat-label>
                    <mat-select [(ngModel)]="selectedChannel.customCrossover" (selectionChange)="updateChart()">
                        <mat-option [value]="undefined"></mat-option>
                        <mat-option [value]="'40'">40 Hz</mat-option>
                        <mat-option [value]="'60'">60 Hz</mat-option>
                        <mat-option [value]="'80'">80 Hz</mat-option>
                        <mat-option [value]="'90'">90 Hz</mat-option>
                        <mat-option [value]="'100'">100 Hz</mat-option>
                        <mat-option [value]="'110'">110 Hz</mat-option>
                        <mat-option [value]="'120'">120 Hz</mat-option>
                        <mat-option [value]="'150'">150 Hz</mat-option>
                        <mat-option [value]="'200'">200 Hz</mat-option>
                        <mat-option [value]="'250'">250 Hz</mat-option>
                        <mat-option [value]="'F'">Full Band</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Custom Speaker Type</mat-label>
                    <mat-select [(ngModel)]="selectedChannel.customSpeakerType">
                        <mat-option [value]="undefined"></mat-option>
                        <mat-option [value]="'S'">Small</mat-option>
                        <mat-option [value]="'L'">Large</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-checkbox [(ngModel)]="selectedChannel.midrangeCompensation" (change)="updateTargetCurve()">Midrange Compensation</mat-checkbox>
                <mat-checkbox [(ngModel)]="selectedChannel.isSkipMeasurement">Skip Measurement</mat-checkbox>
                <mat-checkbox [(ngModel)]="selectedChannel.channelReport.isReversePolarity">Reverse Polarity</mat-checkbox>

            </ng-container>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Target Curve Points
                </mat-panel-title>
            </mat-expansion-panel-header>

            <label>Frequency (Hz), Gain (bB)</label>

            <app-target-curve-points *ngIf="selectedChannel" [(curvePoints)]="selectedChannel.customTargetCurvePoints" (curvePointsChange)="updateChart()" />


        </mat-expansion-panel>

    </mat-accordion>

    <mat-card class="chart-card">
        <mat-card-content>
            <highcharts-chart style="width: 100%; height: 80vh; display: block;"
                              [Highcharts]="highcharts"
                              [options]="chartOptions"
                              [(update)]="chartUpdateFlag"
                              [callbackFunction]="chartCallback"
            />
        </mat-card-content>
    </mat-card>
</main>
