<main>
  <mat-card >
    <mat-card-content class="header">
      <h1>Select ADY file</h1>

      <label for="input-file-id" class="select-file-btn mat-elevation-z1" matRipple>
        <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11zM8 15.01l1.41 1.41L11 14.84V19h2v-4.16l1.59 1.59L16 15.01 12.01 11z"/></svg>
        <span style="margin-left: 5px; user-select: none">Choose File</span>
      </label>
      <input #fileInput id="input-file-id" hidden type="file" onclick="this.value=null" (change)="onUpload(fileInput.files)" accept=".ady"/>

      <span *ngIf="fileInput.files?.length">{{ fileInput.files?.item(0)?.name }}</span>
      <span>Target Device: {{audysseyData.targetModelName}}</span>
    </mat-card-content>
  </mat-card>

  <div class="info">
    <mat-card class="basic-info">
      <mat-card-header>Basic info</mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Profile name</mat-label>
          <input matInput [(ngModel)]="audysseyData.title">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Target curve type</mat-label>
          <mat-select [(ngModel)]="audysseyData.enTargetCurveType">
            <mat-option [value]="0">HF Rolloff 1</mat-option>
            <mat-option [value]="1">HF Rolloff 2</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>System Delay</mat-label>
          <input matInput [(ngModel)]="audysseyData.systemDelay">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select [(ngModel)]="audysseyData.enMultEQType">
            <mat-option [value]="0">MultiEQ</mat-option>
            <mat-option [value]="1">MultiEQ XT</mat-option>
            <mat-option [value]="1">MultiEQ XT32</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="audysseyData.dynamicEq">Dynamic EQ</mat-checkbox>
        <mat-checkbox [(ngModel)]="audysseyData.dynamicVolume">Dynamic Volume</mat-checkbox>

      </mat-card-content>
    </mat-card>

    <mat-card class="channel-info">
      <mat-card-header>Channel selection</mat-card-header>
      <mat-card-content>
        <label>Pick one of {{ audysseyData.detectedChannels.length }} detected channels:</label>
        <mat-radio-group [(ngModel)]="selectedChannel" class="channel-radio-group" (change)="updateChart()">
          <mat-radio-button class="channel-radio-button" *ngFor="let channel of audysseyData.detectedChannels" [value]="channel">
            {{ decodeChannelName(channel.commandId) }}
          </mat-radio-button>
        </mat-radio-group>
        <div *ngIf="selectedChannel">Your selected channel is: {{selectedChannel.commandId}}</div>
      </mat-card-content>
    </mat-card>

    <mat-card class="channel-info">
      <mat-card-header>Channel info</mat-card-header>
      <mat-card-content *ngIf="selectedChannel">
        <mat-form-field appearance="outline">
          <mat-label>Distance</mat-label>
          <input matInput [(ngModel)]="selectedChannel.channelReport.distance">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Trim Adjustment</mat-label>
          <input matInput [(ngModel)]="selectedChannel.trimAdjustment" (input)="updateChart()">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Custom Distance</mat-label>
          <input matInput [(ngModel)]="selectedChannel.customDistance">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>High Frequency Rolloff (Hz)</mat-label>
          <input matInput [(ngModel)]="selectedChannel.frequencyRangeRolloff" (input)="updateChart()">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Custom Crossover</mat-label>
          <mat-select [(ngModel)]="selectedChannel.customCrossover">
            <mat-option [value]="undefined"></mat-option>
            <mat-option [value]="'40'">40 Hz</mat-option>
            <mat-option [value]="'60'">60 Hz</mat-option>
            <mat-option [value]="'80'">80 Hz</mat-option>
            <mat-option [value]="'90'">90 Hz</mat-option>
            <mat-option [value]="'100'">100 Hz</mat-option>
            <mat-option [value]="'110'">110 Hz</mat-option>
            <mat-option [value]="'120'">120 Hz</mat-option>
            <mat-option [value]="'150'">150 Hz</mat-option>
            <mat-option [value]="'200'">200 Hz</mat-option>
            <mat-option [value]="'250'">250 Hz</mat-option>
            <mat-option [value]="'F'">Full Band</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Custom Speaker Type</mat-label>
          <mat-select [(ngModel)]="selectedChannel.customSpeakerType">
            <mat-option [value]="undefined"></mat-option>
            <mat-option [value]="'S'">Small</mat-option>
            <mat-option [value]="'L'">Large</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="selectedChannel.midrangeCompensation">Midrange Compensation</mat-checkbox>
        <mat-checkbox [(ngModel)]="selectedChannel.isSkipMeasurement">Skip Measurement</mat-checkbox>
        <mat-checkbox [(ngModel)]="selectedChannel.channelReport.isReversePolarity">Reverse Polarity</mat-checkbox>

      </mat-card-content>
    </mat-card>

    <mat-card class="curve-points-info">
      <mat-card-header>Target Curve Points</mat-card-header>
      <mat-card-content>
        <label>Frequency (Hz), Gain (bB)</label>

        <mat-list class="curve-points-container">
          <ng-container *ngFor="let curvePoint of selectedChannel?.customTargetCurvePoints">
            <mat-list-item><input matInput [value]="curvePoint" class="curve-points-text-field"></mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
        </mat-list>

      </mat-card-content>
    </mat-card>

    <mat-card class="curve-points-info">
      <mat-card-header>Graph settings</mat-card-header>
      <mat-card-content>

        <mat-checkbox [(ngModel)]="chartLogarithmicScale" (change)="updateChart()">Logarithmic Scale</mat-checkbox>
        <mat-checkbox [(ngModel)]="dataSmoothEnabled"  (change)="updateChart()">Data Smoothing</mat-checkbox>
        <mat-checkbox [(ngModel)]="graphSmoothEnabled" (change)="updateChart()">Graph Smoothing</mat-checkbox>
        <mat-checkbox *ngIf="selectedChannel" #addSub (change)="addSubwooferToTheGraph(addSub.checked)">Add subwoofer</mat-checkbox>
<!--        <mat-checkbox #addSub (change)="addSubwooferToTheGraph(addSub.value)">Show Correction Range Cutoff</mat-checkbox>-->

      </mat-card-content>
    </mat-card>
  </div>

  <mat-card>
    <mat-card-content>
      <highcharts-chart style="width: 100%; height: 500px; display: block;"
        [Highcharts]="highcharts"
        [options]="chartOptions"
        [(update)]="chartUpdateFlag"
        [callbackFunction]="chartCallback"
      />
    </mat-card-content>

  </mat-card>

</main>
