/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: gray;}
@font-face {
  font-family: "Helvetica Neue";
  size-adjust: 99.4%; // x
  ascent-override: 94%; // y
  src: local("Arial");
}

.flat-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #b0b0b0;
  padding: 0 16px 1px;
  height: 46px;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  user-select: none;
}
.flat-btn:hover {
  border-color: #545454;
}
.flat-btn:disabled {
  border-color: #f5f5f5;
  cursor: auto;
}
h1 {
  font-weight: 700;
}
