/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

// Include the common styles for Angular Material
@include mat.core();

// Define custom palettes
$custom-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$custom-accent: mat.m2-define-palette(mat.$m2-green-palette);
$custom-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object
$custom-theme: mat.m2-define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0
));

// Include theme styles for all components
@include mat.all-component-themes($custom-theme);

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: gray;
  --mat-snack-bar-button-color: white;
  --mat-checkbox-selected-checkmark-color: white;
}

@font-face {
  font-family: "Helvetica Neue";
  size-adjust: 99.4%; // x
  ascent-override: 94%; // y
  src: local("Arial");
}

.flat-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #b0b0b0;
  padding: 0 16px 1px;
  height: 46px;
  border-radius: 4px;
  color: var(--mat-expansion-header-text-color);
  background-color: white;
  cursor: pointer;
  user-select: none;

  @media (max-width: 500px) {
    font-size: 14px;
  }
}
.flat-btn:hover {
  color: black;
  border-color: #545454;
}
.flat-btn:disabled {
  border-color: #f5f5f5;
  cursor: auto;
}
h1 {
  font-weight: 700;
}

// highcharts
.tooltip-header {
  font-weight: 700;
  margin-bottom: 6px;
  padding: 4px 8px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 2px;
}

.draggable-cursor {
  cursor: ns-resize;
}

.mdc-button.mat-mdc-snack-bar-action {
  border: 1px solid gray;
}
